/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 5px;
}
.main .description {
  font-size: 140%;
  margin-top: 10px;
}
.main .description-list {
  /*font-size: 120%;*/
  margin-top: 0px;
  margin-bottom: 0px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  /*margin-bottom: 20px;*/
  text-align: center;
}
.placeholders h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.placeholders h4 {
  margin-bottom: 10px;
}


.placeholder {
  margin-bottom: 0px;
  margin-top: 10px;
}
.placeholder .plot {
  height:40%;
  /*min-width: 600px*/
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.projects_list {
  margin-top: 20px;
}

/*
 * labels in panel list
 */
.panel .label {
  margin-left: 10px;
}

/*
 * section anchors
 */

section {
  padding-top:40px;
  margin-top:-40px;
}

.alert-etl {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

/*
 * table
 */

.table {
  margin-bottom: 0px;
}

.table-responsive {
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
